.formulario{
    padding-top: 200px;
}
.cor-fundo-menu{
    background-color: #0D101D;
}
.cor-fundo-corpo{
    background-color: #333333;
}
.botao-centralizado{
    margin-left: 160px;
}
.cor-fundo-footer{
    background-color: #A1D2CE;
}
.texto-footer{
    color: #E8F745;
}